.container {
  padding: 1.5rem 1.25rem; /* 24px 20px */
  background-color: var(--color-dark-space-blue);
}

.title {
  margin-bottom: 2.25rem; /* 36px */
  font-size: 2rem; /* 32px */
  font-weight: 700;
  line-height: 2rem; /* 32px */
  color: var(--color-yellow);
}

@media screen and (min-width: 992px) {
  .container {
    padding: 2rem 1.5rem; /* 32px 24px */
  }

  .title {
    margin-bottom: 2rem; /* 32px */
    font-size: 2.5rem; /* 40px */
    line-height: 2.5rem; /* 40px */
  }
}
