.container {
  margin-bottom: 2rem; /* 32px */
  padding-bottom: 1.75rem; /* 28px */
  border-bottom: 0.0625rem solid var(--color-gunmetal); /* 1px */
}

.container:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: none;
}

.name {
  margin-bottom: 0.5rem; /* 8px */
  font-size: 1.25rem; /* 20px */
  font-weight: 800;
  line-height: 1.5rem; /* 24px */
  color: var(--color-almost-white);
}

.excerpt {
  max-width: 512px;
  font-size: 0.9375rem; /* 15px */
  font-weight: 400;
  line-height: 1.625rem; /* 26px */
  color: var(--color-silver);
}
