.container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-left: 1rem; /* 16px */
  padding-right: 1rem; /* 16px */
  padding-bottom: 5rem; /* 80px */
}

.header {
  margin-bottom: 0.25rem; /* 4px */
}

.main {
  display: flex;
  flex-direction: column;
}

.featuredArticle {
  margin-bottom: 4rem; /* 64px */
}

.latestArticles {
  margin-bottom: 4rem; /* 64px */
}

@media screen and (min-width: 576px) {
  .container {
    padding-left: 1.5rem; /* 24px */
    padding-right: 1.5rem; /* 24px */
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 992px) {
  .container {
    max-width: 992px;
    padding-left: 3rem; /* 48px */
    padding-right: 3rem; /* 48px */
  }

  .secondaryContent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem; /* 32px */
  }

  .latestArticles {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1206px) {
  .container {
    max-width: 1206px;
  }
}
