.container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-left: 1rem; /* 16px */
  padding-right: 1rem; /* 16px */
  padding-bottom: 5rem; /* 80px */
}

.header {
  margin-bottom: 0.25rem; /* 4px */
}

.featuredArticle {
  margin-bottom: 4rem; /* 64px */
}

.latestArticles {
  margin-bottom: 4rem; /* 64px */
}

@media screen and (min-width: 576px) {
  .container {
    padding-left: 1.5rem; /* 24px */
    padding-right: 1.5rem; /* 24px */
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-top: 4rem; /* 64px */
  }

  .header {
    margin-bottom: 2rem; /* 32px */
  }

  .main {
    display: grid;
    grid-template-areas:
      "featured featured"
      "latest   popular";
    grid-template-columns: repeat(2, 1fr);
    gap: 1.875rem; /* 30px */
  }

  .featuredArticle {
    grid-area: featured;
  }

  .latestArticles {
    grid-area: latest;
    margin-bottom: 0;
  }

  .popularArticles {
    grid-area: popular;
  }
}

@media screen and (min-width: 992px) {
  .container {
    max-width: 992px;
    padding-left: 3rem; /* 48px */
    padding-right: 3rem; /* 48px */
  }
}

@media screen and (min-width: 1206px) {
  .container {
    max-width: 1206px;
  }

  .main {
    grid-template-areas:
      "featured latest"
      "popular popular";
    grid-template-columns: 1fr 350px;
    gap: 4.5rem 1.875rem; /* 72px 30px */
  }

  .featuredArticle {
    margin-bottom: 0;
  }
}
