.title {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.image {
  margin-bottom: 1.5rem; /* 24px */
  height: 100%;
}

.name {
  margin-bottom: 1rem; /* 16px */
  font-size: 2.5rem; /* 40px */
  font-weight: 800;
  line-height: 2.5rem; /* 40px */
}

.excerpt {
  margin-bottom: 1.5rem; /* 24px */
  max-width: 512px;
  font-size: 0.9375rem; /* 15px */
  font-weight: 400;
  line-height: 1.625rem; /* 26px */
  color: var(--color-gunmetal);
}

.button {
  min-height: 3rem; /* 48px */
  padding-left: 2rem; /* 32px */
  padding-right: 2rem; /* 32px */
  background-color: var(--color-light-vermillion);
  font-size: 0.875rem; /* 14px */
  font-weight: 700;
  line-height: 1.5rem; /* 24px */
  letter-spacing: 0.2737rem; /* 4.38px */
  text-transform: uppercase;
  color: var(--color-almost-white);
}

@media screen and (min-width: 768px) {
  .article {
    display: grid;
    grid-template:
      "image name" auto
      "image excerpt" auto
      "image button" 1fr / 2fr 1fr;
    justify-items: flex-start;
    align-items: flex-start;
    gap: 0 2rem; /* 0px 32px */
  }

  .image {
    margin-bottom: 0;
    grid-area: image;
  }

  .name {
    grid-area: name;
  }

  .excerpt {
    grid-area: excerpt;
  }

  .button {
    grid-area: button;
  }
}

@media screen and (min-width: 992px) {
  .name {
    font-size: 3.5rem; /* 56px */
    line-height: 3.5rem; /* 56px */
  }
}

@media screen and (min-width: 1206px) {
  .article {
    grid-template:
      "image image" auto
      "name excerpt" auto
      "name button" 1fr / 1fr 1fr;
    gap: 1.875rem; /* 30px */
  }

  .excerpt {
    margin-bottom: 0;
  }
}
