.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5.25rem; /* 84px */
}

.title {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.logo {
  width: 2.875rem; /* 46px */
  height: 1.75rem; /* 28px */
}

.button {
  position: relative;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem; /* 48px */
  height: 3rem; /* 48px */
  cursor: pointer;
}

.openButton {
  composes: button;
  margin-right: -0.25rem; /* -4px */
}

.closeButton {
  composes: button;
  margin-right: -0.5rem; /* -8px */
}

.openButton > .buttonIcon {
  width: 2.5rem; /* 40px */
  height: 2.5rem; /* 40px */
}

.closeButton > .buttonIcon {
  width: 2rem; /* 32px */
  height: 2rem; /* 32px */
}

.navigation {
  display: none;
}

@media screen and (min-width: 768px) {
  .button {
    display: none;
  }

  .navigation {
    display: block;
  }
}
