.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem; /* 48px */
  height: 3rem; /* 48px */
  cursor: pointer;
  color: var(--color-dark-space-blue);
  transition: color 150ms;
}

@media screen and (hover: hover) {
  .container:hover {
    color: var(--color-light-vermillion);
  }
}
